{% extends 'main.html' %}
{% load staticfiles%}
{% block menu %}
<div class="menu">
        <ul class="menu">
            <li class="menu"><a class="menu" href="{%url 'home'%}"><b>Home</b></a></li>
            <li class="menu"><a class="menu" href="{%url 'articles'%}"><b>News</b></a></li>
            <li class="menu"><a class="active" href="{%url 'history'%}"><b>History</b></a></li>
            <li class="menu"><a class="menu" href="{%url 'technique'%}"><b>Technique</b></a></li>
            <li class="menu"><a class="menu" href="{%url 'record'%}"><b>Record</b></a></li>
            {% if username%}
                <li class="menu"><a class="menu" href="/auth/logout/">Logout ({{username}})</a></li>
            {% else %}
                <li class="menu"><a class="menu" href="/auth/login/">Login</a></li>
            {% endif %}
        </ul>
    </div>
{%endblock%}
{% block center %}

<div class="center">
        <h1>Історія плаванння</h1>
        <div class="img">
            <a href="picture/history.jpg">
                <img src="{%static 'static/picture/history.jpg'%}"  width="300" height="200">
            </a>
            <div class="desc">Наскальні зображення техніки плавання</div>
        </div>
        <p style="font-size:135%">
            &nbsp&nbsp&nbsp&nbspСпортивне плавання — вид спорту, в якому метою є якнайшвидше проплисти зазначену відстань, не порушуючи при цьому техніки способу плавання, який використовується. Спортивне плавання почало набувати популярності ще в XIX столітті. Плавання з 1896 року є олімпійським видом спорту (Плавання на Олімпійських іграх).
        </p>
        <p style="font-size:135%">
            &nbsp&nbsp&nbsp&nbspМалюнки на археологічних знахідках свідчать, що люди в Стародавньому Єгипті, Ассирії, Фінікії і в багатьох інших країнах вміли плавати за кілька тисячоліть до нашої ери, і відомі їм способи плавання нагадували сучасні кроль і брас. У той час плавання носило чисто прикладний характер - при риболовлі, полюванні за водоплавної дичиною, підводному промислі, в військовій справі. У Стародавній Греції плавання стало використовуватися як важливий засіб фізичного виховання.
        </p>
        <p style="font-size:135%">
            &nbsp&nbsp&nbsp&nbspПерші змагання з плавання відносяться до рубежу XV-XVI століть (так, в 1515 році пройшли змагання плавців в Венеції). Перша спортивна організація плавців виникла в Англії в 1869 році («Асоціація любителів спортивного плавання Англії»), слідом подібні організації з'явилися в Швеції (1882), Німеччині, Угорщині (1886), Франції (1887), Нідерландах, США (1888), Новій Зеландії (1890), Росії (1894), Італії, Австрії (1899) ... Зростання популярності спортивного плавання в кінці XIX століття пов'язаний з початком будівництва штучних басейнів.
        </p>
        <div class="img" style="float:right;margin-left:2%">
            <a href="picture/history2.jpg">
                <img src="{%static 'static/picture/history2.jpg'%}" width="300" height="200">
            </a>
            <div class="desc">Олімпійські ігри 1908 року з плавання</div>
        </div>
        <!--<img style="width:50%;height:auto;float:right;padding-left:2%" src="picture/history2.jpg" />-->
        <p style="font-size:135%">
            &nbsp&nbsp&nbsp&nbspУ 1889 році у Відні пройшли великі міжнародні змагання за участю спортсменів з декількох європейських країн; далі вони стали проводитися регулярно і носили назву «першість Європи». У 1896 році плавання увійшло в програму перших Олімпійських ігор, і з тих пір незмінно входить в олімпійську програму.
        </p>

        <p style="font-size:135%">
            &nbsp&nbsp&nbsp&nbspПеред початком Олімпійських ігор 1908 року ФІНА розробила і затвердила «Правила ФІНА», що включали перелік дистанцій для проведення змагань, порядок комплектування та проведення запливів, порядок реєстрації світових рекордів. Тоді ж були зареєстровані перші світові рекорди в плаванні, найбільш раннім з них став результат Золтана Халмаі на дистанції 100 м вільним стилем (1.05,8), показаний 3 грудня 1905 года.
        </p>
    </div>
{% endblock %}